<div class="row">
	<div class="col-xs-12" >
		<button class="btn btn-success" (click)="onNewProject()">New Project</button>
	</div>
	<hr>
	<div class="col-xs-12">
		<!-- Search form -->
		<input class="form-control" type="text" placeholder="Search by project name" aria-label="Search" [(ngModel)]="filteredStatus">
	</div>
	
</div>
<hr>
<div class="row">
	<div class="col-xs-12">
		<app-project-item *ngFor="let projectEl of projects| filter:filteredStatus:'name'|paginate :{
			id:'allProjects',
			itemsPerPage: pageSize,
			currentPage:currentPage
		}; let i=index" [project]="projectEl" [index]="i">
		</app-project-item>
		<pagination-controls id="allProjects" (pageChange)="pageChange($event)" maxSize="9" directionLinks="true" autoHide="true"
		 previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You are on page">
		</pagination-controls>
	</div>
</div>