<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs 12">
          <button 
            type="submit"
            class="btn btn-success" 
            [disabled] = "!projectForm.valid">{{submitButtonText}}</button>
          <button 
            type="button"
            class="btn btn-danger"
            (click)="onCancel()"
            >Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name" [attr.disabled]="deleteMode ? '' : null">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Project name is required.
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl" [attr.disabled]="deleteMode ? '' : null" >
            <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)" class="alert alert-danger" >
              <div *ngIf="imageUrl.errors.required">
                Image is required.
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imageUrl.value" alt="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="6" formControlName="description" [attr.disabled]="deleteMode ? '' : null">
            </textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger" >
              <div *ngIf="description.errors.required">
                Description is required.
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientCtrl of getControls(); let i = index" [formGroupName]="i"
            style="margin-top: 10px">

            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" [attr.disabled]="deleteMode ? '' : null">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount" [attr.disabled]="deleteMode ? '' : null">
            </div>
            <div class="col-xs-2">
              <button 
                type="button"
                class="btn btn-danger"
               (click)="onDeleteIngredient(i)" [attr.disabled]="deleteMode ? '' : null">X</button>
            </div>
           
          </div>
          <div *ngIf="projectForm.invalid && (projectForm.dirty || projectForm.touched)" class="alert alert-danger" >
              <div *ngIf="!projectForm.valid">
                Amount must be a positive number.
              </div>              
            </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button 
              type="button"
                class="btn btn-success" 
                (click)="onAddIngredient()" [attr.disabled]="deleteMode ? '' : null">Add Ingredient</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
